%script#appointment-template{:type => "text/template"}
  %li{:data => {:appointment => "{{ JSON.stringify(data) }}"}}
    %span.pull-left
      {{ data.title }}
    %span.pull-right
      %a.deleteAppointment{:href => "#", :title => "Delete Appointment"}
        %i.icon-trash
      &nbsp;&nbsp;
    %span.pull-right
      %a.editAppointment{:href => "#", :title => "Edit Appointment"}
        %i.icon-edit        
      &nbsp;&nbsp;
    %span.pull-right
      {{ moment(data.due_at).fromNow() }}
      &nbsp;&nbsp;
    .clearfix

%script#appointment-form-template{:type => "text/template"}
  .modal.hide.fade#add-appointment-modal
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
      %h3 {{ form_heading }}
    .modal-body
      %form.form-horizontal#add-appointment-form
        .control-group
          %label.control-label{:for => "appointmentTitle"} Title
          .controls
            %textarea#appointmentTitle.input-xlarge{:placeholder => "Something to do.", :type => "text", :rows => 3} {{ title }}
        .control-group
          %label.control-label{:for => "datepicker"} Date and Time
          .controls
            #datepicker.input-append.date
              %input#appointmentDate.input-small{:readonly => "", :size => "16", :type => "text", :value => "{{ date }}"}
                %span.add-on
                  %i.icon-th
            &nbsp;
            .input-append.bootstrap-timepicker-component
              %input#appointmentTime.timepicker-default.input-small{:readonly => "", :type => "text", :value => "{{ time }}"}
                %span.add-on
                  %i.icon-time
        .control-group
          .controls
            %label.checkbox
              %input#appointmentEmail{:type => "checkbox", :value => "{{ email }}"}
                Email Notification
          .controls
            %label.checkbox
              %input#appointmentSms{:type => "checkbox", :value => "{{ sms }}"}
                SMS Notification
    .modal-footer
      %a.btn{:href => "#", "data-dismiss" => "modal"} Close
      %a.btn.btn-primary#save-appointment{:href => "#"} {{ save_label }}