!!!
%html
  %head
    %title ReminderReady
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{:href => "#"} 
            %span{:style => "color:#FB7612"}Reminder
            %span{:style => "color:#484747"}>Ready
          %ul.nav
            %li.active
              %a{:href => "#"} 
                %i.icon-th-list
                Appointments
            %li
              %a.add-appointment{:href => "#"}
                %i.icon-plus
                Add An Appointment
          %ul.nav.pull-right
            %li
              %a#user-status{:href => "#"}
                %i.icon-user
                = @user.name
            %li
              %a{:href => "#"}
                %i.icon-off
                Logout
      = content_tag "div", id: 'user-details', class: 'hide', data: {user: @user} do
        %address
          %strong= @user.name
          %br
          %a#user-email{:href => "mailto:#{@user.email}"}= @user.email
          %br
          %span= @user.payroll_number
          %br
          %abbr{:title => "Phone"} P:
          %span= @user.phone_number

      = yield
